<%= render :partial=>'shared/logo' %>

<h2 id="home-notice" <%= 'class="error"' if flash[:error]%>>
	<%= flash[:error] || flash[:notice] %></h2>


<div id="user-form">
<h1>Log In</h1>

<% form_tag session_path do -%>
<p><%= label_tag 'login' %><br />
<%= text_field_tag 'login', @login %></p>

<p><%= label_tag 'password' %><br/>
<%= password_field_tag 'password', nil %></p>

<!-- Uncomment this if you want this functionality
<p><%= label_tag 'remember_me', 'Remember me' %>
<%= check_box_tag 'remember_me', '1', @remember_me %></p>
-->

<p><%= submit_tag 'Log in',:class=>'submit-btn' %></p>
<% end -%>
<%= link_to 'Forgot Password?', :forgot %>
</div>

<div id="home-bar">
   <ul>	
       <li><%= link_to "Home", '/' %></li>
       <li><%= link_to "Experiments", experiments_path %></li>
       <li><%= link_to "Sign up", new_user_path %></li>
       <li><%= link_to "Forgot Password?", '#' %></li>
    </ul>
</div>
