<% form_for( [step, note], :url => step_note_path(step) ) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :note %><br/>
    <%= f.text_area :text %><br/>
    <%= f.submit 'Save Changes' %><%= save_notice %>
  </p>
<% end %>

<div class= "upload_thumb_container">
	<%= image_tag( thumb_image_path(note.image)) unless note.image.blank? %>
</div>

<% image_label = note.image.blank? ? "attach an image" : "change the image" %>
<% form_for [step, note],
	:url => upload_step_note_path(step, :format => 'js' ), 
     :html => { :multipart => true, :method => 'post',
       :class => 'attach_image_to_note'} do |f| %>
	<p>
	       <%= f.label image_label %><br/> 
	       <%= f.file_field :image_file %>  <%= f.submit 'Upload' %>
	       <%= save_notice %>
	       </p>
<% end %>
<div class= "note-toolbar">
	<ul  >
		<li  >
		<a class="btn-note-show-note  " href="#">Show Note</a>
		</li>
		<li  >
		  <a class="btn-note-delete " href="#">Delete Note</a>
		  <%= button_to "delete note", step_note_path(step),
			  :method=>:delete %>
		</li>
		<% unless note.image.blank? %>
			<li  >
			<a class="btn-note-delete-image " href="#">Delete Image</a>
			<%= button_to "Delete Image", image_path(note.image), 
				:method=>:delete %> 
			</li>
		<% end %>
		
	</ul>
</div>
