
<!doctype html>
<html>
  <head>

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.2.min.js"></script>

    <script type="text/javascript">
      $(document).ready(function(){
        if($('div#errorExplanation').length>0){
          $("div.index_new_gloss_form").show("slow")
        }

         $("div#encyclopaedia div#header-toolbar .right a").click(function(event){
            $("div.index_new_gloss_form").toggle("slow");
         });

      });


    </script>
  </head>

  

<div id ="encyclopaedia">
  <body>

    <div class ="title-header"><h1>Glossary</h1></div>

    <div class="header">
	<div id="header-toolbar" >
		<ul>
		<% if logged_in? && current_user.can_create_glossaries? %>
	  	<li class="right"><a href ="#New_Entry">New Entry</a></li>
		<% end %>
       <%letter = ""%>
    <% @glossaries.each do |c| %>
       <%@regex = Regexp.new(/^\w/)%>
       <% matchdata = @regex.match(c.term) %>
        <%matchdata = matchdata.to_s%>
        <%unless matchdata.upcase == letter%>
            <%letter = matchdata.upcase%>
            <li class="left" ><a href="#<%=h letter %>"><%=h letter %></a></li>
        <%end%>
    <% end %>
		</ul>


	</div>
</div>


<div id ="glossary">
    <div class ="index_new_gloss_form">
      <div class ="hanging-toolbar"></div>
           <h3>New Glossary Entry Form</h3>
      <% form_for(@new_gloss) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :term %><br />
    <%= f.text_field :term %>
  </p>
  <p>
    <%= f.label :definition %><br />
    <%= f.text_area :definition %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
    <% end %>
    </div>

<%@letter = @glossaries.first.term.first.upcase%>
 <%if @letter%>
  <a name="<%=@letter%>"><%=@letter%></a>
 <%end%>
<div class = "hanging-toolbar"></div>
<% @glossaries.each do |glossary| %>
  <% @regex = Regexp.new(/^\w/) %>
     <% matchdata = @regex.match(glossary.term) %>
     <%matchdata = matchdata.to_s%>

    <%unless matchdata.upcase == @letter%>
    <%@letter = matchdata.upcase%>
       <a name ="<%=@letter%>"><%=@letter%></a>
       <div class = "hanging-toolbar"></div>
    <%end%>

       <% if logged_in? && current_user.can_create_glossaries? %>
      <div class="glossary_index_edit_links" >
         <%=link_to 'Edit', edit_glossary_path(glossary)%>|
       <%= link_to 'Delete',glossary, :confirm => 'Are you sure?', :method => :delete %>
      </div>
      <%end%>


        <div class="glossary_index_term">
        <b><a name = "<%=glossary.term%>"><%=glossary.term%></a></b>
        </div>
        <div class="glossary_index_definition">
        <% response=add_glossary_links(glossary.definition)%>
        <%= add_popups(response) %>
        </div>

<% end %>
  </div>
     <div class = "hanging-toolbar"></div>

  </body>
  </div>
</html>
