<div id ="encyclopaedia">
<h1>Editing encyclopaedia</h1>

<% form_for(@encyclopaedia) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :intro %><br />
    <%= f.text_area :intro %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @encyclopaedia %> |
<%= link_to 'Back', encyclopaedias_path %>

</div>