<!doctype html>
<html>
  <head>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.2.min.js"></script>

    <script type="text/javascript">
      $(document).ready(function(){
         $("a").hover(function(event){
            $(this).next("em").animate({opacity: "show", top: "-75"}, "slow");
          }, function() {
            $(this).next("em").animate({opacity: "hide", top: "-85"}, "fast");
	});
      });


    </script>
  </head>

<p>
  <%=h @encyclopaedia.title %>
</p>

<p>
  <% intro = add_glossary_links(@encyclopaedia.intro) %>
  <%= add_popups(intro) %>
</p>

<div class = "menu"><%for section in @sections %>
  <a href ="#<%section.title%>" ><%=h section.title %></a><br/>
<%end%></div>

<% for section in @sections %>
  
<h2><a name ="<%section.title%>"><%=h section.title %></a></h2>

    <p><%=h section.description%></p>

    <p><%= section.video%></p>

    <% unless  section.image.blank? %>
	<p><%= image_tag image_path(section.image, :jpg ) %></p>
	<p><%= image_tag thumb_image_path(section.image ) %></p>
    <% else %>
        <p>
         There is no image.
         <%= link_to 'Upload one now!', edit_encyclopaedia_section_path(@encyclopaedia,section) %>
        </p>
    <% end %>

        <%= link_to 'Edit', edit_encyclopaedia_section_path(@encyclopaedia,section) %> <br/>
<% end %>
        <a name ="mouse">"I should end up here"</a>

<%= link_to 'Edit', edit_encyclopaedia_path(@encyclopaedia) %> |
<%= link_to 'Back', encyclopaedias_path %>
</html>