<% content_for :includes do %>
	<%= javascript_include_tag 'experimentIndex' %>
<% end %>


<div id="header">
  <h1><%=h @user.login %></h1>
  <p>3  Experiments completed</p>

  <div id="header-toolbar">
	  <ul>
		  <li><a id="profile-tab" class="selected" href="#">Profile</a></li>
		  <li><a id="lab-book-tab" href="">Lab Book</a></li>
	<% if logged_in? && current_user.can_change_info_for_user?( @user ) %> 			  
		  <li><a id="profile-options-tab" href="">Options</a></li>
	  <% end %>
<% if logged_in? && current_user.can_create_experiment_for_user?( @user )  %>
		  <li class="right" ><%= link_to "Add experiments", experiments_path %></li>
		<li class="right" ><%= link_to "New experiment", new_experiment_path %></li>
<% end %>

	  </ul>
  </div>

</div>


<div id="profile">
	<table>
		<tr>
		<td class="title">Group:</td>
		<td>
		
		   <% if @groups.length > 0 %>
			
			<% @groups.each do |group| %>
				<%= link_to group.name, group_path( group ) %><br/>
			<% end %>
		
		<% else %>
			No groups yet!
		<% end %>
		</td>
		</tr>
		<tr>
			<td class="title">About-me:</td><td>A scientist in a broad sense is one engaging in a systematic  activity to acquire knowledge. In a more restricted sense, a scientist is an individual who uses the scientific method.[1]  The person may be an expert in one or more areas of science.[2]  This article focuses on the more restricted use of the word. Scientists perform research toward a more comprehensive understanding of nature, including physical, mathematical and social realms. This is distinct from philosophers, those who use logic toward a more comprehensive understanding of intangible aspects of reality that lack a direct connection to nature, focusing on the realm of thought itself. Scientists are also distinct from engineers, those who develop devices that serve practical purposes. When science is done with a goal toward practical utility, it is called 'applied science' (short of the creation of new devices that fall into the realm of engineering). When science is done with an inclusion of intangible aspects of reality it is called 'natural philosophy'.</td>
		</tr>

	</table>
</div>
<div id="lab-book">
	<% if @experiments.blank?  %>
		<div id="home-bar"><ul>
		<% if current_user == @user %>
       		<li><%= link_to "Create a new experiment", new_experiment_path %></li>
       		<li><%= link_to "Add an experiment from the lab manual", experiments_path %></li>
		<% else %>
	 	<li><%= @user.login %> hasn't added any experiments yet</li>	
		<% end %>
		</ul></div>
	<% else %>
		<%= render( :partial=> 'experiments/description', :collection => @experiments, :as=>:experiment ) %>
    <%= link_to 'New experiment', new_experiment_path if logged_in? && current_user.can_create_experiment_for_user?( @user )%>
	<% end %>
</div>


<% if logged_in? && current_user.can_change_info_for_user?( @user ) %> 	<div id="profile-options">
	quit a group, cancel a request, change info
	<% if @groups.length > 0 %>
		<table>
			<% @groups.each do |group| %>
				<tr><td>group.name</td><td>
						<% form_tag quit_group_path(group), :method=>:delete do %>

							<%= submit_tag 'Quit', :class=>'submit-btn' %>
						<% end %>
				
				</td></tr>
			<% end %>
		</table>
	<% end %>
			



</div>
<% end %>

