<% content_for :includes do %>
	<%= javascript_include_tag 'experimentIndex' %>
<% end %>

<% content_for :header do %>
<div id="header">
  <h1 ><%=h @user.login %></h1>
  <%= total_experiment_status @user %>

  <div id="header-toolbar">
	  <ul>
		  <li><a id="profile-tab" class="selected" href="#">Profile</a></li>
		  <li><a id="lab-book-tab" href="">Lab Book</a></li>
	<% if logged_in? && current_user.can_change_info_for_user?( @user ) %> 			  
		  <li><a id="profile-options-tab" href="">Options</a></li>
	  <% end %>
<% if logged_in? && current_user.can_create_experiment_for_user?( @user )  %>
		  <li class="right" ><%= link_to "Add experiments", experiments_path %></li>
		<li class="right" ><%= link_to "New experiment", new_experiment_path %></li>
<% end %>

	  </ul>
  </div>

</div>
<% end %>
<div id="tab-container">
<div id="profile">
	<table>
		<tr>
			<td class="title"><%= @groups.length > 1 ? "Groups:" : "Group:" %></td>
		<td>
		
		   <% if @groups.length > 0 %>
			
			<% @groups.each do |group| %>
				<%= link_to group.name, pretty_group_path( group ) %><br/>
			<% end %>
		
		<% else %>
			No groups yet!
		<% end %>
		</td>
		</tr>
		<tr>
			<td class="title">About-me:</td><td><%= @user.description %></td>
		</tr>

	</table>
</div>
<div id="lab-book">
	<% if @experiments.blank?  %>
		<div id="home-bar"><ul>
		<% if current_user == @user %>
       		<li><%= link_to "Create a new experiment", new_experiment_path %></li>
       		<li><%= link_to "Add an experiment from the lab manual", experiments_path %></li>
		<% else %>
	 	<li><%= @user.login %> hasn't added any experiments yet</li>	
		<% end %>
		</ul></div>
	<% else %>
		<%= render( :partial=> 'experiments/description', :collection => @experiments, :as=>:experiment ) %>
    <%= link_to 'New experiment', new_experiment_path if logged_in? && current_user.can_create_experiment_for_user?( @user )%>
	<% end %>
</div>


<% if logged_in? && current_user.can_change_info_for_user?( @user ) %> 	
<div id="profile-options">
<div class="left-column">
<% form_for @user do |f| -%>
  <div class="gray-box">
	<h2>Make a new password</h2>
	
  <p><label for="password">Password</label><br/>
  <%= f.password_field :password %></p>

  <p><label for="password_confirmation">Confirm Password</label><br/>
  <%= f.password_field :password_confirmation %></p>
  </div>
  <div class="hanging-btns"><ul><li><%= f.submit 'Update' %></li></ul></div>
<% end %>

<% form_tag new_email_user_path( @user ), :method=>:put do  -%>
	<div  class="gray-box">
	<h2>Change your email</h2>

		
	  <%= error_messages_for :user %>

	  <p>
	  <label for="email">New email</label><br/>
	  <%= text_field_tag :email %></p>

  </div>
  <div class="hanging-btns"><ul><li><%= submit_tag 'Submit Change' %></li></ul></div>
<% end %>


<h2>Current groups</h2>
	<% if @groups.length > 0 %>
		<table>
			<% @groups.each do |group| %>
				<tr><td><%= group.name%></td><td>
						<% form_tag quit_group_path(group), :method=>:delete do %>

							<%= submit_tag 'Quit', :class=>'submit-btn',:confirm=>"Are you sure you want to quit #{group.name}" %>
						<% end %>
				
				</td></tr>
			<% end %>
		</table>
	<% end %>

</div>
<div class="right-column">
<% form_for @user do |f| -%>
	<div  class="gray-box">
	<h2>Change your info</h2>

		
	  <%= error_messages_for :user %>


	  <p><%= f.label "description" %><br/>
	  <%= f.text_area :description %>
	  </p>
  </div>
  <div class="hanging-btns"><ul><li><%= submit_tag 'Update' %></li></ul></div>
<% end %>

<% unless @requests.blank? %>
	<h2>Pending Requests</h2>
		<% @requests.each do |request| %>
			<div class="request">
				<p>Request to join: <%= request.group.name %><%= save_notice %></p>
			<p><%= request.message unless request.message.blank? %>
			<div class="hanging-toolbar"><ul>
					<li><%= link_to "Cancel", "#", :class=>"btn-cancel-request" %>
					<%= button_to "cancel", request_path( request ), :method => :delete %></li>
			</ul></div>
			</div>
		<% end %>
	<% end %>




</div>
</div>
<% end %>
</div>
