	<div id=navBar >
      <div id=navWidth>
		<ul>
		<%= yield :nav %>

		<%= nav_bar_select( @navbar_selected ) %>

		<span id="user-nav">
		<% if logged_in? %>
			<li><%= link_to "Logout", logout_path %></a></li>
			<li><%= link_to "Profile", profile_path(current_user) %></a></li>
			<li><h2><%= current_user.login %></h2></li>
		
			<%= yield :user_nav %>
		<% else %>
          <!--
			<% form_tag session_path do -%>
				<li><%= text_field_tag 'login','username' %></li>
				<li><%= password_field_tag 'password', '******' %></li>

			<% end -%>
          -->
			<li><%= link_to "Log In", login_path %></li>
			<li><%= link_to "Sign up?", signup_path %></li>
		<% end %>
		</span>
		
	</ul>
    </div>
	</div>

