<!--
The main construct designer view.
TODO - Split parts bin into ORFS and Linkers
TODO - Sequence annotation
-->


<h1 id="title">Construct Designer v.0.6</h1>

<div id="construct">

<h1>Editing <%= @construct.name %>:</h1>

<div id="parts_box"><div class='xscrollbuffer'>
  <div id="plasmid-left">
  </div>
  <div id="plasmid-mid">
<!-- The sortable parts list.. -->
<ol id="parts_list">
<% @order.each do |part| %>
  <li id = "part_<%=part.bio_byte_id%>_<%=part.id%>" class = "<%=part.bio_byte.type %> part" byte_id="byte_<%=part.bio_byte_id%>" part_id="part_<%=part.id%>"
   title="<b><%=part.bio_byte.name%></b>
          <p><%=part.bio_byte.description%></p>
          <p><a href='<%= bio_byte_path(part.bio_byte) %>'>More Info</a></p>">
  </li>
<% end %>
</ol>
  </div>
  <div id="plasmid-right">
  </div>
</div></div>
</div>

<div id="sequence_box">
<h3>Sequence</h3>
<!-- Sequence box -->
<div id = "sequence">
</div>

</div>

<div id="parts_bin">
<!-- Parts Bin -->
<h2>Parts Bin:</h2>

<ul id="orf_bin" class="parts_bin">
<% ORF.all.each do |byte| %>
  <li id = "part_<%=byte.id%>_0" part_id="part_new" byte_id="byte_<%=byte.id%>" class = "ORF byte" popup="<b><%=byte.name%></b>
          <p><%=byte.description%></p>
          <p><a href='<%= bio_byte_path(byte) %>'>More Info</a></p>"><%= byte.name %></li>
<% end %>
</ul>

<ul id="linker_bin" class="parts_bin">
<% Linker.all.each do |byte| %>
  <li id = "part_<%=byte.id%>_0" part_id="part_new" byte_id="byte_<%=byte.id%>" class = "Linker byte"  popup="<b><%=byte.name%></b>
          <p><%=byte.description%></p>
          <p><a href='<%= bio_byte_path(byte) %>'>More Info</a></p>"><%= byte.name %></li>
<% end %>
</ul>

<div id="trash">
Trash Bin
</div>

</div>

<div id="nav">
<%= link_to "Back", :back %>
<a href="#", id="save">Save</a>
</div>
