<div id="nav">
  <%= link_to "Back", experiment_path(@construct.experiment) %>
  <a href="#", id="save">Save</a>
</div>

<!--
The main construct designer view.
-->

<h1>Editing <%=h @construct.name %>:</h1>

<!-- plasmid box -->
<div id="parts_box">
  <div id="top-left">
  </div>
  <div id="left-side">
  </div>
  <div id="bottom-left">
  </div>
  <div id="bottom-right">
  </div>
  <div id="bottom">
  </div>

  <div id="plasmid-inner">
<ol id="parts_list">
<% unless @order.empty? %>
<% @order.each do |part| %>
  <li id = "part_<%=part.bio_byte_id%>_<%=part.id%>" class = "<%=part.bio_byte.type %> part" byte_id="byte_<%=part.bio_byte_id%>" part_id="part_<%=part.id%>" > </li>
<% end %>
<% else %>
<% end %>
</ol>
</div>
  <div id="plasmid-spacer">
  </div>
  <div id="plasmid-end">
  </div>
</div>
<!-- END plasmid box -->

<div id="parts-row">
<!-- Parts Bin -->
<div id="parts-bin">
<div id="parts-bin-tabs">

  <ul class='tab-widget'>
    <li><a href="#orf-tab">ORFs</a></li>
    <li><a href="#linker-tab">Linkers</a></li>
  </ul>

<div id="orf-tab">
<ul id="orf_bin" class="parts_bin">
<% ORF.all.each do |byte| %>
  <li id = "part_<%=byte.id%>_0" part_id="part_new" byte_id="byte_<%=byte.id%>" class = "ORF byte" ><%=h byte.name %></li>
<% end %>
</ul>
</div>

<div id="linker-tab">
<ul id="linker_bin" class="parts_bin">
<% Linker.all.each do |byte| %>
  <li id = "part_<%=byte.id%>_0" part_id="part_new" byte_id="byte_<%=byte.id%>" class = "Linker byte" ><%=h byte.name %></li>
<% end %>
</ul>
</div>

</div>
<!-- END Parts Bin-->


</div>
<!-- Part info box -->
<div id='part-info-box'>

<h2>Part Description:</h2>
<div id='part-info'>
<i>Mouse over a part to see its description.</i>
</div>


</div>
</div>
<!-- END part info box -->




<!-- Sequence box -->
<div id="sequence_box">
  <h2>Sequence:</h2>
  <div id = "sequence">
  <!-- content generated in parts_designer.js -->
  </div>
</div>
<!-- END sequence -->


<!-- part-info-data -->
<div id="part-info-data", style="display:none;">

<% BioByte.all.each do |byte| %>
  
  <div id='info_<%=byte.id%>'>
    <div class="byte_desc_img"><%= image_tag step_image_path(byte.bio_byte_image.image) unless byte.bio_byte_image.blank? %></div> 
    
    <h3><%=h byte.name%></h3>
    <p><i><%=h byte.description%></i><p>
    <p><b>Sequence:&nbsp</b><%=h byte.sequence %></p>


  </div>

<% end %>

</div>
<!-- END part-info-data -->
