
<h2 id="home-notice" <%= 'class="error"' if flash[:error]%>>
	<%= flash[:error] || flash[:notice] %></h2>

<div id="home-content">

  <div id=left-sidebar>

    
    <div id=info-box-gray class=left-info-box>

      <% if logged_in? and current_user.is_an_admin? %>
        <h3>Admin Tools</h3>
        <p><%= link_to "Parts Bin", bio_bytes_path if logged_in? and current_user.can_create_bio_bytes? %></p>
        <p><%= link_to "Protocol Generator", step_generators_path if logged_in? and current_user.can_edit_step_generators? %></p>
      <% else %>


      <% end %>

    </div>

    <!--
    <div id=info-box2 class=right-info-box>
      <h3>I am info box 2</h3>
      <p><i>Put a picture here or something, I'm so lonely...</i></p>
      
    </div>
    -->

  </div>

  <div id=center-content>

    <div id=main-info-box
      OnClick="document.location='<%=about_path%>'">
      <h2> GENOMIKON: An Educational Toolkit for Rapid Genetic Construction</h2>
        <p>
            Building DNA is too hard. It has to be cheaper, faster, and easier, so that everyone can do it. So... we've created an inexpensive, self-contained educational kit called GENOMIKON - everything you need to build, test and operate genetic circuits and metabolic pathways. It comes with an online lab manual, notebook, and experiment software. It can be used by professionals as well.
        </p>
      
    </div>

    <div id=info-box3 class=center-info-box
      OnClick="document.location='<%=sandbox_path%>'">

      <h3>Try it out!</h3>
      <p>Get started building your first plasmid right away, with our easy to use drag-and-drop plasmid constructor!</p>
      <p class=clickHere>click here for more...</p>
      
    </div>

    <div id=info-box4 class=center-info-box
      OnClick="document.location='<%=encyclopaedias_path%>'">
      <h3>Get the background!</h3>
       <p>Want to learn more about molecular biology? Check out our 
          encyclopedia articles 
          and learn the science behind what goes on in the cells.
       </p>

      <p class=clickHere>click here for more...</p>

    </div>

  </div>

  <div id=right-sidebar>
    <div id=info-box1 class=right-info-box
      OnClick="document.location='<%=login_path%>'">

      <h3>Get started</h3>
            Sign up now or log in
            to get started performing your very own molecular biology experiments!
      </p>

      <p class=clickHere>click here for more...</p>

    </div>
    
    <div id=info-box2 class=right-info-box>

      <h3>See also:</h3>
      <p>
        Check out our team's <a href=http://2010.igem.org/Team:Alberta>project page</a>!
      </p>

      <p class=clickHere>click here for more...</p>

    </div>
  </div>

</div>
