<html>
  <head>
  </head>

  <body>

  <p><%= link_to "Parts Bin", bio_bytes_path %></p>
  <p><%= link_to "Experiments", experiments_path %></p>

  <% if current_user %>
    <p><%= link_to "Log out", logout_path %></p>
  <% else %>
    <p><%= link_to "Log in", login_path %></p>
    <p><%= link_to "Sign up", signup_path %></p>
  <% end %>

  <div id = 'content'>
    <h2><%= flash[:notice]%></h2>
    <%=yield%>
  </div>
  </body>

</html>
