<%= render :partial=>'shared/logo' %>

<div id="home-bar">
	  <ul>	
		<li><%= link_to "Parts Bin", bio_bytes_path %></li>
  <li><%= link_to "Experiments", experiments_path %></li>

  <% if logged_in?  %>
     <li><%= link_to "View your profile", profile_path( current_user.login ) %></li>  
     <li><%= link_to "Log out", logout_path %></li>
  <% else %>
    <li><%= link_to "Log in", login_path %></li>
    <li><%= link_to "Sign up", signup_path %></li>
  <% end %>
</ul>
</div>
<h2 id="home-notice" <%= 'class="error"' if flash[:error]%>>
	<%= flash[:error] || flash[:notice] %></h2>


