	  <div id="home-logo">
		  <img src="/images/Alberta_Logo.png" />
		  <h1>genomikon</h1>

	  </div>
	  <div id="home-bar">
	  <ul>	
		<li><%= link_to "Parts Bin", bio_bytes_path %></li>
  <li><%= link_to "Experiments", experiments_path %></li>

  <% if logged_in?  %>
     <li><%= link_to "View your profile", profile_path( current_user.login ) %></li>  
     <li><%= link_to "Log out", logout_path %></li>
  <% else %>
    <li><%= link_to "Log in", login_path %></li>
    <li><%= link_to "Sign up", signup_path %></li>
  <% end %>
</ul>
</div>
<h2 id="home-notice" ><%= flash[:notice]%></h2>


