<div id ="encyclopaedia">
<body>

<h1>New section</h1>
<% form_for([ @encyclopaedia, @section ]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :encyclopaedia_id %><br />
    <%= f.text_field :encyclopaedia_id %>
  </p>
  <p>
    <%= f.label :section_order %><br />
    <%= f.text_field :section_order %>
  </p>

  <p>
    <%=f.label :video_title%><br/>
    <%=f.text_field :video_title%>
  </p>
  <p>
    <%= f.label :video %><br />
    <%= f.text_area :video %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>


<% end %>

  <p>
        <%= link_to 'Back to Article', encyclopaedia_sections_path(@encyclopaedia) %>
  </p>


</body>

</div>


