<div class="construct_preview_box">
  <b>
  <p>Hello World! I am a construct! My name is <%= construct.name %>.</p>
  <p>This is what I look like:</p>
  <% unless construct.parts.empty? %>
  <ol class = "construct_parts">
  <% construct.parts.each do |part| %>
  <li id = "part_<%=part.bio_byte_id%>_<%=part.id%>" class = "<%=part.bio_byte.type %> part" byte_id="byte_<%=part.bio_byte_id%>" part_id="part_<%=part.id%>"><%= part.bio_byte.name %>
  </li>
  <%end%>
  </ol>
  <%end%>

  <p>
  <%= link_to "Edit me?", edit_experiment_construct_path(@experiment, construct) %> |
  <%= link_to "Delete me?", experiment_construct_path( construct.experiment, construct), :confirm => 'Are you sure?', :method => :delete %>
  </p>

  </b>
</div>
