<div class="construct_preview_box <%=construct.id%>">
  <h3><%= construct.name %></h3>
  <% unless construct.parts.empty? %>

  <div class= "parts_box <%=construct.id%>">

  <div class="top-left <%=construct.id%>">
  </div>
  <div class="left-side <%=construct.id%>">
  </div>
  <div class="bottom-left <%=construct.id%>">
  </div>
  <div class="bottom-right <%=construct.id%>">
  </div>
  <div class="bottom <%=construct.id%>">
  </div>

  <div class="plasmid-inner <%=construct.id%>"> 

  <ol class="parts_list <%=construct.id%>">
  <% construct.parts.all(:order => :part_order).each do |part| %>
  <li id = "part_<%=part.bio_byte_id%>_<%=part.id%>" class = "<%=part.bio_byte.type %> part <%=construct.id%>" byte_id="byte_<%=part.bio_byte_id%>" part_id="part_<%=part.id%>"
   construct='<%=construct.id%>'
   info="<h2><%=part.bio_byte.name%></h2>
          <p><%=part.bio_byte.description%></p>">
  </li>
  <%end%>
  </ol>

  <div class="plasmid-spacer <%=construct.id%>">
  </div>
  <div class="plasmid-end <%=construct.id%>">
  </div>

  </div>
  </div>

  <%end%>

  <div class='part-info-box'style='display:none;'> 
  <h2>Part Information:</h2>
  <div class='part-info <%=construct.id%>' >
  </div>
  </div>

<% if logged_in? && current_user.can_edit_for_experiment?(@experiment) %>
  <p>
  <%= link_to "Edit me?", edit_experiment_construct_path(@experiment, construct) %> |
  <%= link_to "Delete me?", experiment_construct_path( construct.experiment, construct), :confirm => 'Are you sure?', :method => :delete %>
  </p>
<% end %>

</div>
