<div class="experiment-description-container">
<div class="lab-book">
	<table>
		<tr>
			<td><h2><%= link_to experiment.title , experiment_path(experiment) %></h2></td>
			<td class="date"><%=h "Last save: " + "#{experiment.updated_at}".split(/ /)[0] %></td>
		</tr>
		<tr>
		<% if logged_in? && current_user.can_publish_for_experiment?( experiment )   %>
			<td><% form_for(experiment,
				       	:html=>{:class=>'publish-experiment'} ) do |f| %>
			<%= f.error_messages %>
			<%= f.check_box :published, :class=>'checkbox' %>
    			<%= f.label :published %>
			<span class= "save-notice"></span>

			<% end %>
		</td>
		<% else %>
			<td></td>
		<% end %>
		<td>
		</td>

		</tr>
	</table>

        
	<%= more_text add_popups(add_glossary_links(experiment.description)), 150 %>

        <%unless experiment.articles.blank?%>
            <%for article in experiment.articles.split("&")%>
                <%article = article.split("@")%>
                <%id = article.first%>
                <%title = article.last%>

                <a href="http://<%=SITE_URL%>/encyclopaedias/<%=id%>"><%=title%></a>
            <%end%>
        <%end%>

</div>
<div class="edit-experiment">
	<%= render :partial=>"experiments/edit", :locals=>{:experiment=>experiment} %>
</div>


<div class="hanging-toolbar" >
	<% if logged_in? %>
		<ul>
		<% if current_user.can_edit_for_experiment?( experiment ) %>
			<li><a class="btn-edit-experiment" href="#" >Edit</a></li>
			<li><a class="btn-delete-experiment" href="#" >Delete</a>
			<%= button_to "delete experiment", experiment_path(experiment),:method=>:delete %>
			</li>
			
		<% end %>
		<li><% clone_button =  is_owner_of(experiment) ? 
			  'Duplicate' : 'Add to my experiments'%>
		      <%= link_to clone_button,
			      clone_experiment_path( experiment ) %>
		  </li>
		</ul>
	<% end %>
</div>
</div>
