<% if logged_in? && current_user.can_edit_for_own_experiment?( experiment ) %>
	<% form_for(experiment,:html=>{
	  :class => "edit-experiment"} ) do |f| %>
		<%= f.error_messages %>
		<h2><%= f.text_field :title %></h2>
		<p class= 'description' >
		    <%= f.text_area :description %>
		</p>
		<p><%= f.submit 'Save' %>
		<%= save_notice %>
		</p>
    <% end %>
<% end %>


