<% if logged_in? && current_user.can_edit_for_experiment?( experiment ) %>
	<% form_for(experiment,:html=>{
	  :class => "edit-experiment"} ) do |f| %>
		<%= f.error_messages %>
		<h2><%= f.text_field :title %></h2>
		<p class= 'description' >
		    <%= f.text_area :description %>
		</p>
                <%if logged_in? && current_user.can_create_glossaries?%>
                <p>
                  <%= f.label :articles %><br />
                  <%= f.text_field :articles %>
                </p>
                <%end%>
		<p><%= f.submit 'Save' %>
		<%= save_notice %>
		</p>
    <% end %>
<% end %>


