<div class="step">
   <div class="step_number" > 
	<p><b>Step <%=h " #{ step.step_order }" %>  :</b></p> 
   </div>
 
   <!-- view of the step -->
   <span class="step_view" id=step<%= step.id  %>  > 
     <%= render :partial => 'steps/step', :locals => {:step => step }  %>
   </span>

   <span class="step_form" style="display: none;">
	  <% form_for([@experiment, step],:html => { :method => :put,:multipart => true, :class => "inplace_edit_step"} ) do |f| %>
	<%= f.error_messages %>
	<p>
	    <%= f.label :title %><br />
	    <%= f.text_field :title %>
	</p>
	<p>
	    <%= f.label :description %><br />
	    <%= f.text_area :description %>
	</p>
	<p><%= f.submit 'Update' %></p>
    <% end %>

  </span>

  <span class="step_image_form" style="display: none;"  >
	<% form_for [@experiment,step],:url => upload_experiment_step_path(@experiment,step), :html => { :multipart => true, :method => 'post'} do |f| %>
	<p><%= f.file_field :image_file %></p>
	<p><%= f.submit 'Upload' %></p>
     <% end %>  
  </span>
  <% if allowed_to_make_notes? %> 
	  <% if step.note_for( current_user ) %>
	    <span class="step_note_form" >
		  <% form_for [step, step.note_for( current_user )], 
		   :url => step_note_path( step, step.note_for( current_user ) ) do |f| %>
		       <p><%= f.text_area :text %></p>
		       <p><%= f.submit 'Save note' %></p>
	       <% end %>
	    </span>
	  <% else %>
		  <span >
			  <%= link_to 'add a note', new_step_note_path(step) %>
		  </span>
	  <% end %>
  <% end %>
    <div class="step_edit_slide" >
		  <a class="btn-step-form  active" href"#">Edit</a>
		  <a class="btn-step-image active" href"#">Image</a>
    </div>
</div>


