<div class="step">
	<span class="step_view" id=step<%= step.id  %>  >
	  <p><b>Step <%=h " #{ step.step_order }" %>  :</b></br> 
	  <%= step.title %></p>
	  <% unless step.image.blank? %>
	  <p><%= image_tag step_image_path( step.image ) %></p>
          <% end %> 
	  <p class= 'description'  ><%=h step.description %>
	  </p>
  </span>


  <!-- trying out differen for m -->
  <span class="step_form" style="display: none">
	  <% form_for([@experiment, step],:html => { :method => :put, :id => "stepForm" , :multipart => true} ) do |f| %>
	<%= f.error_messages %>
	<p>Description:</p> 
	<p><%= f.text_area :description %></p>
	<p><%= f.submit 'Update' %></p>
    <% end %>
  </span>
</div>


