<div class="step">
  <div class="step_view" > 
       <%= render :partial => 'steps/step', :locals => {:step => step }  %>
  </div> 
  <% if is_owner_of( @experiment ) %>
      <div class= "step_edit" style="display: none;" >
	  <%= render :partial => 'steps/edit', :locals => {:experiment => @experiment, :step => step } %>
  
  </div>
    <% end %>
       <div class= "step-toolbar"  >
	  <% if is_owner_of( @experiment ) %>
           <ul >
	   <span class= "step-show-btns">
	   	 <li  >
		 <a class="btn-step-edit" href="#">Edit Step </a></li>
		 <li  >
		    <a class="btn-step-insert-after " href="#">Insert Step Below</a> 
		     <%= button_to "Insert Step Below",
		    	insert_after_experiment_step_path(@experiment,step),
		     	:method=>:put %>
		 </li>
		 <li  >
		   <a class="btn-step-insert-before" href="#">Insert Step Above</a>
		      <%= button_to "Insert Step Above",
		    	insert_before_experiment_step_path(@experiment,step),
		    	:method=>:put %>
		 </li>
		 <li >
		   <a class="btn-step-destroy" href="#" >Delete</a>
		  	<%= button_to "Delete Step",
		    	  experiment_step_path(@experiment,step),
		    	  :method=>:delete %>
		 </li>
		 </span>
	 <span class= "step-edit-btns" style="display: none;" >
		 <li ><a class="btn-step-show" href="#">Show Step</a></li>
		<% unless step.image.blank? %>
			<li><a class="btn-delete-step-image" href="#">Delete image</a>
			<%= button_to "Delete Image",image_path( step.image ),:method=>:delete %>
			</li>
		<% end %>

	 </span>
		 <% if allowed_to_make_notes? %>
			 <li class= "btn-step-note ">
			 <a class="btn-step-note  " href="#">Note</a></li>
		<% end %>
		
		
	</ul> 
	<% end %>
      </div>	
    

    
  <% if allowed_to_make_notes? %>
    <div class= "step_note_container" style="display: none;"  >
      <%= render( :partial=>'notes/note', :locals=>{:step=>step} ) %>
    </div >
  <% end %>
</div>


