<div class="stepView">
	<p>	
	<b>Step <%=h " #{ step.step_order }" %>  :</b></br> <%= step.title %></br></p>
	<div class = edit_area id= <%= step.id  %> item_id= <%= step.id %> name= 'Step' update_url=<%= experiment_step_path(@experiment, step)  %>   
	><%= step.description %> <%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
	</div>
</div>
