<div class="step">
   <div class="step_number" > 
	<p><b>Step <%=h " #{ step.step_order }" %>  :</b></p> 
   </div>
 
   <!-- view of the step -->
   <span class="step_view" id=step<%= step.id  %>  > 
     <%= render :partial => 'steps/step', :locals => {:step => step }  %>
   </span>

   <% if is_owner_of( @experiment ) %>
   <span class="step_form" style="display: none;">
     <% form_for([@experiment, step],
	:html => { :method => :put,:multipart => true, 
	  :class => "inplace_edit_step"} ) do |f| %>
	<%= f.error_messages %>
	<p>
	    <%= f.label :title %><br />
	    <%= f.text_field :title %>
	</p>
	<p>
	    <%= f.label :description %><br />
	    <%= f.text_area :description %>
	</p>
	<p><%= f.submit 'Update' %></p>
    <% end %>

  </span>

  <span class="step_image_form" style="display: none;"  >
     <% form_for [@experiment,step],
	     :url => upload_experiment_step_path(@experiment,step), 
	     :html => { :multipart => true, :method => 'post',
	       :class => 'inplace_upload_image'} do |f| %>
	<p><%= f.file_field :image_file %></p>
	<p><%= f.submit 'Upload' %></p>
     <% end %>  
  </span>
  <% end %>

  <% if allowed_to_make_notes? %>
   <div class= "step_note_button" >
	    <a class="btn-step-note " href"#">Note</a>
    </div>
  <% end %>

  <% if is_owner_of( @experiment ) %>
    <div class="step_edit_slide" >
	<a class="btn-step-form" href"#">Edit</a> |
	<a class="btn-step-image" href"#">Image</a> |
	<a class="btn-step-insert-after" href"#">Insert Step Below</a> |   
	<a class="btn-step-insert-before" href"#">Insert Step Above</a> |   
	<a class="btn-step-destroy" href="#" >Delete</a>
	<span class='hidden_insert_after' style=" display: none;" >
	  <%= button_to "Insert Step Below",
	    insert_after_experiment_step_path(@experiment,step),
       	    :method=>:put %>
        </span>
	<span class='hidden_insert_before' style=" display: none;" >
	  <%= button_to "Insert Step Above",
	    insert_before_experiment_step_path(@experiment,step),
       	    :method=>:put %>
  	</span>	
	<span class='hidden_delete_step' style=" display: none;" >
	  <%= button_to "Delete Step",
	    experiment_step_path(@experiment,step),
       	    :method=>:delete %>
  	</span>
    </div>
    
  <% end %>
  <% if allowed_to_make_notes? %>
    <div class ="step_note_container" style="display: none;"  >
    <!-- hide this form, and only show if we click note tab and their is no note or we want to add a note --> 
      <div class= "step_note_form" >
	    <% if step.note %>
		    <%= render( :partial => 'notes/edit', 
			       :locals=>{:step => step, :note => step.note}) %> 
	    <% else %>
		    <%= render( :partial => 'notes/new', 
			       :locals=>{:step => step, :note => Note.new}) %>
	    <% end %>
      </div >

      <div class= "step_note_view" note=<%=h step.note ? 'true' : '' %> >
	   <% if step.note %>
   		<%= render( :partial => 'notes/show', 
				:locals=>{:step=>step, :note=>step.note}) %>
	  <% end %>	
      </div >
 
   </div >
  <% end %>
</div>


