<h1>Listing experiments</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Authour</th>
    <th>Description</th>
    <th>Published</th>
    <th>Image</th>
  </tr>

<% @experiments.each do |experiment| %>
	<% if experiment.published || is_owner_of( experiment) %>
	  <tr>
	    <td><%=h experiment.title %></td>
	    <td><%=h experiment.authour %></td>
	    <td><%=h experiment.description %></td>
	    <td><%=h experiment.published %></td>
	    <td><%= link_to 'Show', experiment %></td>
	    <% clone_button =  is_owner_of(experiment) ? 
		    'Duplicate': 'Add to my experiments'%>
	    <td><%= link_to clone_button, clone_experiment_path( experiment ) %></td>
	    <% if is_owner_of( experiment ) %>
	    <td><%= link_to 'Edit Description', edit_experiment_path(experiment) %></td>
	    <td><%= link_to 'Edit Constructs',  experiment_construct_path(experiment) %></td> 
	    <td><%= link_to 'Edit Steps', experiment_steps_path(experiment) %></td>
	    <td><%= link_to 'Destroy', experiment, :confirm => 'Are you sure?', :method => :delete %></td>
    	<% end %>
  	</tr>
      <% end %>
	  
<% end %>
</table>

<br />

<%= link_to 'New experiment', new_experiment_path %>
