<h1>Listing experiments</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>

<% @experiments.each do |experiment| %>
  <tr>
    <td><%=h experiment.name %></td>
    <td><%=h experiment.description %></td>
    <td><%= link_to 'Show', experiment %></td>
    <td><%= link_to 'Edit', edit_experiment_path(experiment) %></td>
    <td><%= link_to 'Destroy', experiment, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New experiment', new_experiment_path %>