<% content_for :includes do %>
	<%= javascript_include_tag 'experimentIndex' %>
<% end %>

<% content_for :title do %>
	<%= 'Lab Manual' %>
<% end %>

<% content_for :header do %>
<div id="header" >
	<h1>Lab Manual</h1>
	<p>View an experiment, without the ability to edit or add notes, or add it to your lab book for full control.</p>
    <div id="header-toolbar" >
    
    <ul>
      <li><a id="published-tab" class="selected" href="#">Published Experiments</a></li>
      <li><a id="lab-book-tab" href="#">Lab Book</a></li>
    </ul>

    </div>
</div>
<% end %>

<div id=tab-container>
<div id=published>
  <%= search_box experiments_path, "Search all published experiments:" %>
  
  <p class="search_info">
  	<%= search_page_info( @search, @groups ) if @search %>
  </p>
  
  <% paginated_section @experiments do %>
  	<%= render :partial=>'description', :collection => @experiments, :as=>:experiment %>
  <% end %>
  
  <!-- TODO put in toolbar -->
  <% if logged_in? && current_user.can_create_experiments? %>
  <%= link_to 'New experiment', new_experiment_path %>
  <%end%>
</div>

<div id=lab-book>

  <% if logged_in? %>

  	<% if current_user.experiments.blank?  %>
		<div id="home-bar"><ul>
       		<li><%= link_to "Create a new experiment", new_experiment_path %></li>
       		<li><%= link_to "Add an experiment from the lab manual", experiments_path %></li>
		</ul></div>
	<% else %>
		<%= render( :partial=> 'experiments/description', :collection => current_user.experiments, :as=>:experiment ) %>
    <% end %>

  <% else %>
    <p><%= link_to "Log in", login_path %> or <%= link_to  "create an account", signup_path %> to see your lab book.</p>
  <% end %>

</div>
</div>
