<% content_for :nav do %>
	<ul>
		<li><a 

<% end %>

<div id= "experiment-title">
<h1><%=h @experiment.title %></h1>
<h2><%=h @experiment.authour %></h2>
<% if is_owner_of( @experiment ) %>
<% form_for(@experiment, :html=>{:id=>'publish'} ) do |f| %>
  <%= f.error_messages %>
    <%= f.check_box :published %>
    <%= f.label :published %>
    <span class= "save-notice" style= "display: none;"></span>
    <% end %>
<% end %>

<script src="http://cdn.jquerytools.org/1.2.3/tiny/jquery.tools.min.js"></script>
<script> //get part background image data

  var orfs;
  var linkers;
  var allparts;

  $(document).ready(function(){
      
      updatePlasmidDisplay();

      $.ajax({
        type: 'get',
        dataType: 'json',
        url: '/get_part_data',
        success: function(data){
          orfs = data.orfs;
          linkers = data.linkers;
          allparts= orfs.concat(linkers);
          
          //get images
          $(".part, .byte").css('background-image', function(index, value){
            for(i in allparts){
              var byte_id = $(this).attr('byte_id');
              if ( byte_id.split('_')[1] == allparts[i].id.toString()){
                return 'url(/images/'+ allparts[i].image_id +'.png)';
              }
            }
          });
        }
      })

      //part tooltips
      $('.part').tooltip({
        opacity: 0.9,
      });

      
  })

  function updatePlasmidDisplay(){
    var numparts = $("#parts_list").children().length;

    var height = 92 + (-(Math.floor(-numparts/6))-1)*46;
    if (numparts%6 == 0){
      //add a row
      height += 46;
    }

    $("#left-side").css('height',function(){
      return height - 92 + 'px';
    });
    $("#bottom-left, #bottom-right, #bottom").css('top', function(){
      return height - 46 + 'px';
    });
    $("#plasmid-spacer").css('width', function(){
      return (5 - numparts%6) * 100 + 'px';
    });
    $("#parts_box").css('height', function(){
      return height + 'px'; 
    });

    //add line cont. markers? eg ------//
    //                         //------]

  }


</script>

<p>
  <%=h @experiment.description %>
</p>
</div>

<p>
  <b>Constructs:</b>
  <% unless @experiment.constructs.empty? %>
    <%= render :partial => "construct", :collection => @experiment.constructs %>
  <% end %>
  <p>
  <%= link_to "Add Construct", new_experiment_construct_path(@experiment) %>
  </p>
</p>

<% if @experiment.steps.empty? %>
	<div id="add-first-step">
		<a href="#">Click Here to add a step and get started, making your experiment</a>
	</div>
<% else %>
    <%= render :partial => "step", :collection => @steps %>
<% end %>

<%= link_to 'Edit Description', edit_experiment_path(@experiment) %> |
<%= link_to 'Edit Steps', experiment_steps_path(@experiment) %> |
<%= link_to 'List experiments', experiments_path %>
