<% content_for :includes do %>
	<%= stylesheet_link_tag 'manual' %>
  	<%= javascript_include_tag 'emanual' %>
	<script src="http://cdn.jquerytools.org/1.2.3/tiny/jquery.tools.min.js"></script>
<% end  %>
<script> //get part background image data

  var constructs = [<% @experiment.constructs.each do |const| %>
                    <%=const.id%>,
                    <% end %>
                    ] //array of construct ids
</script>


<% content_for :nav do %>
	<li><a href="#">test</a></li> 
<% end %>

<div id= "experiment-title">
<h1><%=h @experiment.title %></h1>
<h2><%=h @experiment.authour %></h2>
<% if is_owner_of( @experiment ) %>
<% form_for(@experiment, :html=>{:id=>'publish'} ) do |f| %>
  <%= f.error_messages %>
    <%= f.check_box :published %>
    <%= f.label :published %>
    <span class= "save-notice" style= "display: none;"></span>
    <% end %>
<% end %>

<p>
  <%=h @experiment.description %>
</p>
</div>

<p>
  <h2>Constructs:</h2>
  <% unless @experiment.constructs.empty? %>
    <%= render :partial => "construct", :collection => @experiment.constructs %>
  <% end %>
  <p>
  <%= link_to "Add Construct", new_experiment_construct_path(@experiment) %>
  </p>
</p>

<% if @experiment.steps.empty? %>
	<div id="user-form">
	<p>Create a new construct to generate a protocol or make the first step using the form below.</p>

	<% form_for([ @experiment, Step.new ]) do |f| %>
	  <%= f.error_messages %>

	  <p>
	    <%= f.label :title %><br />
	    <%= f.text_field :title %>
	  </p>
	  <p>
	    <%= f.label :description %><br />
	    <%= f.text_area :description %>
	  </p>
	  <p>
	    <%= f.submit 'Create' %>
	  </p>
	<% end %>
	</div>
<% else %>
    <%= render :partial => "step", :collection => @steps %>
<% end %>

<%= link_to 'Edit Description', edit_experiment_path(@experiment) %> |
<%= link_to 'Edit Steps', experiment_steps_path(@experiment) %> |
<%= link_to 'List experiments', experiments_path %>

<!-- part-info-data -->
<div id="part-info-data", style="display:none;">

<% BioByte.all.each do |byte| %>
  
  <div id='info_<%=byte.id%>'>
    <% unless byte.bio_byte_image.blank? %>

    <div class="byte_desc_img"><%= image_tag step_image_path(byte.bio_byte_image.image) %></div> 
    <h3><%=byte.name%></h3>
    <p><i><%=byte.description%></i><p>
    <p><b>Sequence:&nbsp</b><%= byte.sequence %></p>

    <%end%>


  </div>

<% end %>

</div>
<!-- END part-info-data -->
