<div id= "experiment-title">
<h1><%=h @experiment.title %></h1>
<h2><%=h @experiment.authour %></h2>
<% form_for(@experiment, :html=>{:id=>'publish'} ) do |f| %>
  <%= f.error_messages %>
    <%= f.check_box :published %>
    <%= f.label :published %>
    <span class= "save-notice" style= "display: none;"></span>
<% end %>

<script src="http://cdn.jquerytools.org/1.2.3/tiny/jquery.tools.min.js"></script>
<script> //get part background image data

  var constructs = [<% @experiment.constructs.each do |const| %>
                    <%=const.id%>,
                    <% end %>
                    ] //array of construct ids
</script>

<p>
  <%=h @experiment.description %>
</p>
</div>

<p>
  <h2>Constructs:</h2>
  <% unless @experiment.constructs.empty? %>
    <%= render :partial => "construct", :collection => @experiment.constructs %>
  <% end %>
  <p>
  <%= link_to "Add Construct", new_experiment_construct_path(@experiment) %>
  </p>
</p>

<% unless @experiment.steps.empty? %>
    <%= render :partial => "step", :collection => @steps %>
<% end %>

<%= link_to 'Add_Step', new_experiment_step_path(@experiment) %> |
<%= link_to 'Edit Description', edit_experiment_path(@experiment) %> |
<%= link_to 'Edit Steps', experiment_steps_path(@experiment) %> |
<%= link_to 'List experiments', experiments_path %>

<!-- part-info-data -->
<div id="part-info-data", style="display:none;">

<% BioByte.all.each do |byte| %>
  
  <div id='info_<%=byte.id%>'>
    <div class="byte_desc_img"><%= image_tag step_image_path(byte.bio_byte_image.image) %></div> 
    <h3><%=byte.name%></h3>
    <p><i><%=byte.description%></i><p>
    <p><b>Sequence:&nbsp</b><%= byte.sequence %></p>
    <% unless byte.bio_byte_image.blank? %>
    <%end%>


  </div>

<% end %>

</div>
<!-- END part-info-data -->
