<div id= "experiment-title">
<h1><%=h @experiment.title %></h1>
<h2><%=h @experiment.authour %></h2>
  <% form_for(@experiment) do |f| %>
  <%= f.error_messages %>
    <%= f.check_box :published %>
    <%= f.label :published %>
<% end %>
<p>
  <%=h @experiment.description %>
</p>
</div>

<% unless @experiment.steps.empty? %>
    <%= render :partial => "step", :collection => @steps %>
<% end %>

<%= link_to 'Add_Step', new_experiment_step_path(@experiment) %> |
<%= link_to 'Edit Description', edit_experiment_path(@experiment) %> |
<%= link_to 'Edit Steps', experiment_steps_path(@experiment) %> |
<%= link_to 'List experiments', experiments_path %>
