<div id= "experiment-title">
<h1><%=h @experiment.title %></h1>
<h2><%=h @experiment.authour %></h2>
<% form_for(@experiment, :html=>{:id=>'publish'} ) do |f| %>
  <%= f.error_messages %>
    <%= f.check_box :published %>
    <%= f.label :published %>
    <span class= "save-notice" style= "display: none;"></span>
<% end %>

<script src="http://cdn.jquerytools.org/1.2.3/tiny/jquery.tools.min.js"></script>
<script> //get part background image data

  var orfs;
  var linkers;
  var allparts;

  $(document).ready(function(){

      $.ajax({
        type: 'get',
        dataType: 'json',
        url: '/get_part_data',
        success: function(data){
          orfs = data.orfs;
          linkers = data.linkers;
          allparts= orfs.concat(linkers);
          
          //get images
          $(".part, .byte").css('background-image', function(index, value){
            for(i in allparts){
              var byte_id = $(this).attr('byte_id');
              if ( byte_id.split('_')[1] == allparts[i].id.toString()){
                return 'url(/images/'+ allparts[i].image_id +'.png)';
              }
            }
          });
        }
      })

      //part tooltips
      $('.part').tooltip({
        opacity: 0.9,
      });

      
  })

</script>

<p>
  <%=h @experiment.description %>
</p>
</div>

<p>
  <b>Constructs:</b>
  <% unless @experiment.constructs.empty? %>
    <%= render :partial => "construct", :collection => @experiment.constructs %>
  <% end %>
  <p>
  <%= link_to "Add Construct", new_experiment_construct_path(@experiment) %>
  </p>
</p>

<% unless @experiment.steps.empty? %>
    <%= render :partial => "step", :collection => @steps %>
<% end %>

<%= link_to 'Add_Step', new_experiment_step_path(@experiment) %> |
<%= link_to 'Edit Description', edit_experiment_path(@experiment) %> |
<%= link_to 'Edit Steps', experiment_steps_path(@experiment) %> |
<%= link_to 'List experiments', experiments_path %>
