<h1>Editing <%= @byte.name %></h1>
<table>

<%  form_tag :action => 'update', :id => @byte do %>
  <tr><td><label for="byte_name">Name:</label></td>
      <td><%= text_field 'byte', 'name'%></td></tr>
  <tr><td><label for="byte_type">Type</label></td>
      <td><%= select("byte", "type", ["ORF", "Linker"]) %> </td>
  <tr><td><label for="byte_description">Description:</label></td>
      <td><%= text_field 'byte', 'description' %></td></tr>
  <tr><td><label for="byte_sequence">Sequence:</label></td>
      <td><%= text_field 'byte', 'sequence' %></td></tr>
  <tr><td><%= submit_tag 'Update' %></td></tr>
<% end %>

</table>

<p>Icon Image:</p>
<% unless @byte.image %>
  <p>[NONE]</p>
<% else %>
  <p><%= image_tag image_path(@byte.image) %></p> 
<% end %>

<% form_for @image, :url => upload_bio_byte_path(@byte), :html => { :multipart => true, :method => 'post'} do |f| %>
  <p><%= f.file_field :image_file %></p>
  <p><%= f.submit 'Upload' %></p>
<% end %>  

<p>Description Image:</p>
<% unless @byte.bio_byte_image and @byte.bio_byte_image.image%>
  <p>[NONE]</p>
<% else %>
  <p><%= image_tag image_path(@byte.bio_byte_image.image) %></p> 
<% end %>

<% form_for @image, :url => upload_desc_img_bio_byte_path(@byte), :html => { :multipart => true, :method => 'post'} do |f| %>
  <p><%= f.file_field :image_file %></p>
  <p><%= f.submit 'Upload' %></p>
<% end %>  


<h3>Annotations:</h3>
<table>
<tr><th>Name</th><th>Start</th><th>Stop</th></tr>
<% @byte.annotations.each do |ann| %>
<tr><td><%= ann.name %></td>
    <td><%= ann.start %></td>
    <td><%= ann.stop %></td>
    <td><%= link_to "Edit", edit_bio_byte_annotation_path( @byte, ann) %><td>

    <td><%= link_to "Delete", bio_byte_annotation_path( @byte, ann),
                              :confirm => "Are you sure?",
                              :method => :delete %></td>
</tr>
<% end %>
<tr><td><%= link_to 'New', new_bio_byte_annotation_path( @byte ) %></td></tr>
</table>




<p><%= link_to 'Back', bio_bytes_path %></p>
