<h1>Editing <%= @byte.name %></h1>
<table>

<%  form_tag :action => 'update', :id => @byte do %>
  <tr><td><label for="byte_name">Name:</label></td>
      <td><%= text_field 'byte', 'name'%></td></tr>
  <tr><td><label for="byte_type">Type</label></td>
      <td><%= select("byte", "type", ["ORF", "Linker"]) %> </td>
  <tr><td><label for="byte_description">Description:</label></td>
      <td><%= text_field 'byte', 'description' %></td></tr>
  <tr><td><label for="byte_author">Author:</label></td>
      <td><%= text_field 'byte', 'author' %></td></tr>
  <tr><td><label for="byte_sequence">Sequence:</label></td>
      <td><%= text_field 'byte', 'sequence' %></td></tr>
  <tr><td><%= submit_tag 'Update' %></td></tr>
<% end %>

</table>

<%= link_to 'Back', {:action => 'index'} %>
