<% content_for :includes do %>
<%= javascript_include_tag 'bioByteIndex' %> 
<% end %>

<% content_for :title do %>
	<%= 'Parts Bin' %>
<% end %>


<div id="header">
<h1>Parts Bin</h1>
<p>Browse the parts in the kit and view detailed information in the stats sheet.</p> 
	<div id="header-toolbar" > 
		<!-- set the permission of this!!-->
		<ul>
		<li class="right"><%= link_to "New Part", new_bio_byte_path %></li>
	</ul>
	</div>
</div>
<div id="bio-bytes-table">
	<% @bytes.each do |byte| %>
		<div class=byte-row> 
			<div class=byte-name>
				<h2><%= link_to byte.name, '#',:class=>"btn-byte-desc"  %></h2>
			
				<%= image_tag( thumb_image_path( byte.icon), :class=>"icon"  ) unless byte.icon.blank? %>
			</div>
			<div class="description-container" >
				<div class='description'>
					<span class='text'>
					<% unless byte.function_image.blank? %>
						<%= image_tag( thumb_image_path( byte.function_image )) %>
					<% end %>
					<p><%=h byte.description %></p>
					</span>
					<span class='sequence'>
						acgatagac
					</span>

				<%= save_notice %>
			<div class="byte-toolbar"><ul>
				<li><%= link_to "Edit",  edit_bio_byte_path(byte)%></li>
				<li><%= link_to "Delete", "#", :class=>'btn-delete-biobyte' %>
				<%= button_to "Delete", byte, :confirm => "Are you sure?", :method => :delete %> </li>

				<li><%= link_to "Sequence", "#",:class=>'btn-show-sequence' %></li>
				<li class="right" ><%= link_to "Stats Sheet", bio_byte_path(byte) %></li>


			</ul></div>
		</div>

	</div>
<% end %>


	</table>
</div>

<!--
<% if current_user and current_user.login == "admin" %>
      <td><%=link_to "Edit", edit_bio_byte_path(byte)%>
      <td><%=link_to "Delete", byte, :confirm => "Are you sure?", :method => :delete %> 
    <% end %>
    -->
<p><%= link_to "New", new_bio_byte_path %></p>
<p><%= link_to "Home", :controller => :home %></p>
