<% content_for :includes do %>
<%= javascript_include_tag 'bioByteIndex' %> 
<% end %>

<% content_for :title do %>
	<%= 'Parts Bin' %>
<% end %>

<% content_for :header do %>
<div id="header">
<h1>Parts Bin</h1>
<p>Browse the parts in the kit and view detailed information in the stats sheet.</p> 
	<div id="header-toolbar" > 
		<ul>
		<% if logged_in? && current_user.can_create_bio_bytes? %>
	  	<li class="right"><%= link_to "New Part", new_bio_byte_path %></li>
		<% end %>
    <% @categories.each do |c| %>    
      <li class="left" ><a href=# class="cat <%= 'selected' if c.name == Category.first.name %>" category=<%=h c.name%>><%=h c.name %></a></li>
    <% end %>
		</ul>


	</div>
</div>
<% end %>


<div id="bio-bytes-table">
  
		<% if logged_in? && current_user.can_edit_categories? %>
      <%= link_to "New Category", new_category_path %> 
    <%end%>

  <% @categories.each do |c| %>

    <div class="category" id=<%=h c.name %> style=<%= "display:none;" unless c.name == Category.first.name %>>


    <h3><%=h c.name %></h3>
    <p><%=h c.description %></p>
    
		<% if logged_in? && current_user.can_edit_categories? %>
      <p>
      <%= link_to "Edit Category", edit_category_path(c)%> 
      <%= link_to "Delete Category", c,
          :confirm => "Are you sure? Bytes will be moved to 'Other'.",
          :method => :delete %>
      </p>
    <%end%>

	  <% c.bio_bytes.each do |byte| %>
	  	<div class=byte-row> 
	  		<div class=byte-name>
	  			<h2><%= link_to byte.name, '#',:class=>"btn-byte-desc"  %></h2>
	  		
	  			<%= image_tag( image_path( byte.icon), :class=>"icon"  ) unless byte.icon.blank? %>
	  		</div>
	  		<div class="description" >
	  				<span class='text'>
	  				<% unless byte.function_image.blank? %>
	  					<%= image_tag( thumb_image_path( byte.function_image )) %>
	  				<% end %>
	  				<p><%=h byte.description %></p>
	  				</span>

	  			<%= save_notice %>
	  			<div class="hanging-toolbar"><ul>
	  			<% if logged_in? && current_user.can_edit_bio_bytes? %>
	  				<li class="left" ><%= link_to "Edit",  edit_bio_byte_path(byte)%></li>
	  				<li class="left" ><%= link_to "Delete", "#", :class=>'btn-delete-biobyte' %>
	  				<%= button_to "Delete", byte, :confirm => "Are you sure?", :method => :delete %> </li>
	  			<% end %>
	  				<li ><%= link_to "More Information", bio_byte_path(byte) %></li>
	  				<li  ><%= link_to "Stats Sheet", datasheet_bio_byte_path(byte) %></li>


	  			</ul></div>
	  		</div>
	  	</div>
	  <% end %>

    </div>

  <% end %>




</div>



<%
=begin %>
<%= render :partial=>'bio_byte',:locals=>{:bytes=>@bytes} %>

<p><%= link_to "New", new_bio_byte_path %></p>
<p><%= link_to "Home", :controller => :home %></p>
<%
=end %>
