<h1>New BioByte</h1>

<% form_tag :action => 'create' do %>
  <p><label for="byte_name">Name</label>
  <%= text_field 'byte', 'name' %></p>

  <p><label for="byte_type">Type</label>
  <select name="byte[type]">
    <option value="ORF">ORF</option>
    <option value="Linker">Linker</option>
  </select></p>
                    
  <p><label for="byte_description">Description</label>
  <%= text_field 'byte', 'description' %></p>
  <p><label for="byte_author">Author</label>
  <%= text_field 'byte', 'author' %></p>
  <p><label for="byte_sequence">Sequence</label>
  <%= text_field 'byte', 'sequence' %></p>
  <%= submit_tag "Create" %>
<% end %>

<%= link_to 'Back', {:action => 'index'} %>
  
