<% content_for :includes do %>
  <%= javascript_include_tag 'sequence_display' %>
  <%= javascript_include_tag 'parts_designer' %>
  <%= stylesheet_link_tag 'parts_designer' %> 
<%end%>

<% content_for :title do %>
  <%=h @byte.name %>
<% end %>

<% content_for :header do %>
<div id="header">
  <%= image_tag( image_path( @byte.icon), :class => "icon_image" ) unless @byte.icon.blank? %> 
  <h1><%=h @byte.name %></h1>
  <p>Part Information and Sequence</p>

  <div id="header-toolbar" >
    <ul>
      <li class="right"><%= link_to "Technical Datasheet", datasheet_bio_byte_path(@byte) %></li>
    </ul>
  </div>
</div>
<%end%>

<div class=description>
  <h2>Description:</h2> 
  <%= image_tag( step_image_path( @byte.function_image ), :class => "function_image" ) unless @byte.function_image.blank? %>
  <p><%=h @byte.description%></p>
  <div style="clear:both; height:1px; margin-bottom:-1px;">&nbsp;</div>
</div>

<p>
  <div id="sequence">
  </div>
</p>

<!-- hidden info for sequence display -->
<ol id="parts_list" style="display:none;">
  <li id = "part_<%=@byte.id%>_<%=@byte.id%>" class = "<%=@byte.type %> part" byte_id="byte_<%=@byte.id%>" part_id="part_<%=@byte.id%>" > </li>
</ol>

<%= link_to "Back", :back %>
