<% form_for([@experiment, step],
	:html => { :method => :put,:multipart => true, 
	  :class => "inplace_new_step"} ) do |f| %>
	<%= f.error_messages %>
	<p>
	    <%= f.label :title %><br />
	    <%= f.text_field :title %>
	</p>
	<p>
	    <%= f.label :description %><br />
	    <%= f.text_area :description %>
	</p>
	<p><%= f.submit 'Update' %></p>
<% end %>
