<h1>Editing step</h1>

<% form_for([ @experiment,  @step ]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :image %><br />
    <%= f.text_field :image %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', experiment_step_path( @experiment, @step ) %> |
<%= link_to 'Back', experiment_steps_path( @experiment ) %>
