<h1>Listing steps</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th> 
    <th>Image</th>
  </tr>

<% @steps.each do |step| %>
  <tr>
    <td><%=h step.title %></td>
    <td><%=h step.description %></td>
    <td><% if step.image.blank? %>
	    <%= 'no image' %>
    <% else %>
    	    <%= image_tag thumb_image_path( step.image ) %>
    <% end %></td>
    <td><%= link_to 'Show', experiment_step_path( step.experiment, step ) %></td>
    <td><%= link_to 'Edit', edit_experiment_step_path(step.experiment, step) %></td>
    <td><%= link_to 'Destroy', experiment_step_path( step.experiment, step ), :confirm => 'Are you sure?', :method => :delete %></td>
    <td><%= link_to 'Move Up', move_step_up_path( step.experiment, step ), :method => :put %></td>
     <td><%= link_to 'Move Down', move_step_down_path( step.experiment, step ), :method => :put %></td>
     <td<%= link_to 'Insert after',  insert_after_experiment_step_path(step.experiment, step), :method => :put %></td>
     <td<%= link_to 'Insert before',  insert_before_experiment_step_path(step.experiment, step), :method => :put %></td
	     ></tr>
<% end %>
</table>

<br />
<%= link_to 'New step', new_experiment_step_path(@experiment) %> | 
<%= link_to 'Finshed Editing', experiment_path(@experiment) %> |
<%= link_to 'List experiments', experiments_path %>
