
<p>
  <b>Title:</b>
  <%=h @step.title %>
</p>

<p>
  <b>Description:</b>
  <%=h @step.description %>
</p>


<%  if !@step.image.blank? %>
	<p><%= image_tag image_path(@step.image, :jpg ) %></p>
	<p><%= image_tag thumb_image_path(@step.image, :jpg ) %></p>
<% else %>
  <p>
    There is no image.
    <%= link_to 'Upload one now!', edit_section_path(@step) %>
 </p>
<% end %>

<p>
  <b>Experiment:</b>
  <%=h @step.experiment_id %>
</p>


<%= link_to 'Add a note', new_step_note_path(@step) %> |
<%= link_to 'Edit', edit_experiment_step_path(@experiment) %> |
<%= link_to 'Back', experiment_steps_path(@experiment) %>
