<h1>Editing <%=@annotation.name%> for <%=@byte.name%></h1>

<% form_tag :action => 'update', :ann_id => @annotation, :byte_id => @byte.id do %>
  <p><label for="annotation_name">Name</label>
  <%= text_field 'annotation', 'name' %></p>
  <p><label for="annotation_description">Description</label>
  <%= text_field 'annotation', 'description' %></p>
  <p><label for="annotation_strand">Strand</label>
  <%= select("annotation", "strand", {"Forward"=>1, "Reverse"=>0}) %>
  </p>
  <p><label for="annotation_start">Start</label>
  <%= text_field 'annotation', 'start' %></p>
  <p><label for="annotation_stop">Stop</label>
  <%= text_field 'annotation', 'stop' %></p>
  <p><label for="annotation_author">Author</label>
  <%= text_field 'annotation', 'author' %></p>
  <p><label for="annotation_colour">Colour</label>
  <%= text_field 'annotation', 'colour' %></p>

  <%= submit_tag "Update" %>
<% end %>

<%= link_to 'Back', {:controller => :bio_bytes, :action => 'edit', :id =>@byte.id } %>
