<!--
The main construct designer view.
-->
<script> 
// TODO Figure out how to sequester this in another file.
// global variables

  var orfs;
  var linkers;

  //if any changes made..
  var changes = false;

  $(document).ready(function() {


      //ajax call to load data
      $.ajax({
        type: 'get',
        dataType: 'json',
        url: '/construct/get_data',
        success: function(data){
          orfs = data.orfs;
          linkers = data.linkers;
          $("#sequence").text(groupBases(getSequence()));
        }
      })

      //save button
      $("a#save").click(function() {

        //submit to server
        $.ajax({
          type: 'put',
          dataType: 'json',
          data: $('#parts_list').sortable('serialize', {attribute: 'part_id'}) + '&'
                + $('#parts_list').sortable('serialize', {attribute: 'byte_id'}) + '&'
                + 'id=<%= @construct.id %>',

          url: '/construct/save',
          success: function(data){
            $("#parts_list > li").each(function(index) {
              $(this).attr('part_id', "part_"+data.part_ids[index]);
            })
            alert("Saved!");
          }
            

          
        })
      })
    

      $("ol#parts_list").sortable({

        connectWith:  '#trash',
        tolerance: 'pointer',
        update: function(){

          changes=true;

          $("#sequence").text(groupBases(getSequence()));

        }

      
      });

      $("*").disableSelection();
      
      
      $(".byte").draggable({
        connectToSortable: 'ol#parts_list',
        revert: 'invalid',
        helper: "clone"

      });

      $("#trash").droppable({
        //TODO css classes
        activeClass: 'ui-state-hover',
        hoverClass: 'ui-state-active',
        accept: '#parts_list > li',
        tolerance: 'pointer',
        drop: function(event, ui) {
          ui.draggable.attr()
          ui.draggable.remove();
          $("#parts_list").sortable('refresh');
        }
      }); 


    });

</script>

<div id="construct">

<h1>Editing <%= @construct.name %>:</h1>

<div id="parts_box">
<!-- The sortable parts list.. -->
<ol id="parts_list">
<% @order.each do |part| %>
  <li id = "part_<%=part.bio_byte_id%>_<%=part.id%>" class = "part" byte_id="byte_<%=part.bio_byte_id%>" part_id="part_<%=part.id%>"><%= part.bio_byte.name %>
  </li>
  
<% end %>
</ol>
</div>
</div>

<div id="sequence_box">
<h3>Sequence</h3>
<!-- Sequence box -->
<div id = "sequence">
</div>

</div>

<div id="parts_bin">
<!-- Parts Bin -->
<h2>Parts Bin:</h2>

<ul id="parts_bin">
<% BioByte.all.each do |byte| %>
  <li id = "part_<%=byte.id%>_0" part_id="part_new" byte_id="byte_<%=byte.id%>" class = "byte"><%= byte.name %></li>
<% end %>
</ul>

<div id="trash">
Trash Bin
</div>

</div>

<div id="nav">
<%=link_to "Back", {:action => :index} %>
<a href="#", id="save">Save</a>
</div>
