<body>
<h1>Editing <%= @construct.name %></h1>


<ul>
<% @order.each do |part| %>
  <li><%= part.bio_byte.name %> | 
  <!-- show part -->
      <%= link_to  "Show" %> | 
  <!-- delete part -->
      <%= link_to  "Delete", {:action => :delete_part,
                                 :id => @construct.id, 
                                 :part_id => part.id } %>

  
<% end %>
</ul>

<h2>Sequence:</h2>
<p><%= @sequence %></p>

<h2>Insert a part:</h2>
<% form_for :part, :url => {:action => :insert_part, :id => @construct.id } do |f| %>

  <p>BioByte: <%= select("part", "bio_byte_id", 
                    BioByte.all.map {|u| [u.name, u.id]}) %></p>

  <p>Position: <%= select("part", "part_order", @pos )%></p>
                    
  <p><%= submit_tag 'Insert' %></p>
<% end %>


<%=link_to "Back", {:action => :index} %>
</body>
