<h1>Constructs:</h1>

<ul>
<% @constructs.each do |const| %>
  <li><%=const.name  %>
  <% if can_modify(const) %> 
      | 
      <%= link_to "Edit", {:action => :edit, :id => const.id} %> | 
      <%= link_to "Delete", {:action => :delete, :id => const.id} %> 
  <%end%>
<% end %>
</ul>

<p><%= link_to "New Construct", {:action => :new} %></p>
<p><%= link_to "Home", {:controller => 'home'} %></p>
