<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Genomikon: <%= yield(:title) or controller.action_name %></title>
  
  <%= render :partial=>'layouts/includes' %>
  <%= yield :includes %>
  <%= stylesheet_link_tag 'datasheet' %>

</head>
<body>
	<div id= container>
		<%= render :partial=>'shared/navBar' %>
		<% if flash[:error] || flash[:notice] %>
			<div id='flash-notice' <%= 'class="error"' if flash[:error] %>>
			<%=flash[:error] || flash[:notice] %></div>
		<% end %>
	<%= yield %>
	</div>
</body>
<%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
</html>
